PUSH 1
JUMP 24
PUSH 33
PUSH 116
PUSH 99
PUSH 101
PUSH 114
PUSH 114
PUSH 111
PUSH 67
WRITE 8
EXIT 0
PUSH 33
PUSH 116
PUSH 99
PUSH 101
PUSH 114
PUSH 114
PUSH 111
PUSH 99
PUSH 110
PUSH 73
WRITE 10
EXIT 1
READ 48
PUSH 43
LOAD 1
MOV SUB
PUSH 73
MOV MUL
LOAD 7
MOV XOR
PUSH 160
MOV ADD
LOAD 0
MOV ADD
PUSH 190
MOV XOR
LOAD 5
MOV SUB
PUSH 9
MOV MUL
LOAD 2
MOV MUL
PUSH 189
MOV SUB
LOAD 4
MOV ADD
PUSH 186
MOV XOR
LOAD 6
MOV MUL
PUSH 103
MOV SUB
LOAD 3
MOV XOR
PUSH 8
MOV ADD
PUSH 6
MOV NEQ
JUMP 12
PUSH 7
LOAD 1
MOV ADD
PUSH 53
MOV XOR
LOAD 7
MOV MUL
PUSH 164
MOV SUB
LOAD 2
MOV SUB
PUSH 144
MOV MUL
LOAD 8
MOV XOR
PUSH 131
MOV ADD
LOAD 5
MOV ADD
PUSH 105
MOV XOR
LOAD 6
MOV SUB
PUSH 244
MOV MUL
LOAD 4
MOV XOR
PUSH 16
MOV ADD
LOAD 3
MOV MUL
PUSH 25
MOV SUB
PUSH 70
MOV NEQ
JUMP 12
PUSH 213
LOAD 2
MOV ADD
PUSH 29
MOV XOR
LOAD 9
MOV XOR
PUSH 176
MOV ADD
LOAD 7
MOV SUB
PUSH 102
MOV MUL
LOAD 4
MOV MUL
PUSH 73
MOV SUB
LOAD 3
MOV SUB
PUSH 91
MOV MUL
LOAD 5
MOV XOR
PUSH 58
MOV ADD
LOAD 8
MOV MUL
PUSH 174
MOV SUB
LOAD 6
MOV ADD
PUSH 205
MOV XOR
PUSH 100
MOV NEQ
JUMP 12
PUSH 250
LOAD 9
MOV MUL
PUSH 236
MOV SUB
LOAD 3
MOV ADD
PUSH 81
MOV XOR
LOAD 6
MOV XOR
PUSH 11
MOV ADD
LOAD 5
MOV MUL
PUSH 143
MOV SUB
LOAD 8
MOV SUB
PUSH 127
MOV MUL
LOAD 7
MOV ADD
PUSH 161
MOV XOR
LOAD 4
MOV SUB
PUSH 146
MOV MUL
LOAD 10
MOV XOR
PUSH 169
MOV ADD
PUSH 56
MOV NEQ
JUMP 12
PUSH 107
LOAD 6
MOV MUL
PUSH 69
MOV SUB
LOAD 7
MOV XOR
PUSH 120
MOV ADD
LOAD 9
MOV SUB
PUSH 59
MOV MUL
LOAD 5
MOV SUB
PUSH 218
MOV MUL
LOAD 11
MOV XOR
PUSH 155
MOV ADD
LOAD 4
MOV ADD
PUSH 179
MOV XOR
LOAD 10
MOV MUL
PUSH 146
MOV SUB
LOAD 8
MOV ADD
PUSH 109
MOV XOR
PUSH 35
MOV NEQ
JUMP 12
PUSH 60
LOAD 9
MOV ADD
PUSH 40
MOV XOR
LOAD 8
MOV XOR
PUSH 93
MOV ADD
LOAD 6
MOV SUB
PUSH 247
MOV MUL
LOAD 12
MOV XOR
PUSH 207
MOV ADD
LOAD 11
MOV MUL
PUSH 111
MOV SUB
LOAD 5
MOV ADD
PUSH 62
MOV XOR
LOAD 10
MOV SUB
PUSH 23
MOV MUL
LOAD 7
MOV MUL
PUSH 114
MOV SUB
PUSH 149
MOV NEQ
JUMP 12
PUSH 33
LOAD 13
MOV XOR
PUSH 35
MOV ADD
LOAD 11
MOV SUB
PUSH 183
MOV MUL
LOAD 6
MOV ADD
PUSH 31
MOV XOR
LOAD 7
MOV SUB
PUSH 125
MOV MUL
LOAD 9
MOV XOR
PUSH 203
MOV ADD
LOAD 10
MOV ADD
PUSH 112
MOV XOR
LOAD 12
MOV MUL
PUSH 222
MOV SUB
LOAD 8
MOV MUL
PUSH 183
MOV SUB
PUSH 57
MOV NEQ
JUMP 12
PUSH 122
LOAD 13
MOV MUL
PUSH 140
MOV SUB
LOAD 12
MOV SUB
PUSH 178
MOV MUL
LOAD 7
MOV ADD
PUSH 236
MOV XOR
LOAD 8
MOV SUB
PUSH 227
MOV MUL
LOAD 10
MOV XOR
PUSH 140
MOV ADD
LOAD 11
MOV ADD
PUSH 160
MOV XOR
LOAD 14
MOV XOR
PUSH 163
MOV ADD
LOAD 9
MOV MUL
PUSH 239
MOV SUB
PUSH 31
MOV NEQ
JUMP 12
PUSH 69
LOAD 9
MOV SUB
PUSH 114
MOV MUL
LOAD 14
MOV MUL
PUSH 57
MOV SUB
LOAD 13
MOV SUB
PUSH 86
MOV MUL
LOAD 12
MOV ADD
PUSH 22
MOV XOR
LOAD 15
MOV XOR
PUSH 138
MOV ADD
LOAD 10
MOV MUL
PUSH 249
MOV SUB
LOAD 11
MOV XOR
PUSH 89
MOV ADD
LOAD 8
MOV ADD
PUSH 168
MOV XOR
PUSH 34
MOV NEQ
JUMP 12
PUSH 106
LOAD 12
MOV XOR
PUSH 248
MOV ADD
LOAD 9
MOV ADD
PUSH 203
MOV XOR
LOAD 11
MOV MUL
PUSH 156
MOV SUB
LOAD 16
MOV XOR
PUSH 104
MOV ADD
LOAD 13
MOV ADD
PUSH 156
MOV XOR
LOAD 10
MOV SUB
PUSH 168
MOV MUL
LOAD 15
MOV MUL
PUSH 217
MOV SUB
LOAD 14
MOV SUB
PUSH 37
MOV MUL
PUSH 22
MOV NEQ
JUMP 12
PUSH 179
LOAD 13
MOV XOR
PUSH 52
MOV ADD
LOAD 16
MOV MUL
PUSH 79
MOV SUB
LOAD 14
MOV ADD
PUSH 155
MOV XOR
LOAD 11
MOV SUB
PUSH 64
MOV MUL
LOAD 15
MOV SUB
PUSH 53
MOV MUL
LOAD 10
MOV ADD
PUSH 235
MOV XOR
LOAD 12
MOV MUL
PUSH 242
MOV SUB
LOAD 17
MOV XOR
PUSH 84
MOV ADD
PUSH 193
MOV NEQ
JUMP 12
PUSH 72
LOAD 12
MOV SUB
PUSH 208
MOV MUL
LOAD 13
MOV MUL
PUSH 99
MOV SUB
LOAD 18
MOV XOR
PUSH 51
MOV ADD
LOAD 14
MOV XOR
PUSH 136
MOV ADD
LOAD 15
MOV ADD
PUSH 214
MOV XOR
LOAD 16
MOV SUB
PUSH 22
MOV MUL
LOAD 17
MOV MUL
PUSH 173
MOV SUB
LOAD 11
MOV ADD
PUSH 137
MOV XOR
PUSH 101
MOV NEQ
JUMP 12
PUSH 78
LOAD 15
MOV XOR
PUSH 102
MOV ADD
LOAD 12
MOV ADD
PUSH 246
MOV XOR
LOAD 19
MOV XOR
PUSH 51
MOV ADD
LOAD 14
MOV MUL
PUSH 139
MOV SUB
LOAD 13
MOV SUB
PUSH 11
MOV MUL
LOAD 18
MOV MUL
PUSH 241
MOV SUB
LOAD 17
MOV SUB
PUSH 231
MOV MUL
LOAD 16
MOV ADD
PUSH 49
MOV XOR
PUSH 66
MOV NEQ
JUMP 12
PUSH 158
LOAD 19
MOV MUL
PUSH 225
MOV SUB
LOAD 13
MOV ADD
PUSH 143
MOV XOR
LOAD 14
MOV SUB
PUSH 190
MOV MUL
LOAD 18
MOV SUB
PUSH 127
MOV MUL
LOAD 20
MOV XOR
PUSH 238
MOV ADD
LOAD 15
MOV MUL
PUSH 85
MOV SUB
LOAD 16
MOV XOR
PUSH 127
MOV ADD
LOAD 17
MOV ADD
PUSH 16
MOV XOR
PUSH 120
MOV NEQ
JUMP 12
PUSH 101
LOAD 21
MOV XOR
PUSH 216
MOV ADD
LOAD 19
MOV SUB
PUSH 175
MOV MUL
LOAD 14
MOV ADD
PUSH 210
MOV XOR
LOAD 16
MOV MUL
PUSH 219
MOV SUB
LOAD 20
MOV MUL
PUSH 126
MOV SUB
LOAD 15
MOV SUB
PUSH 216
MOV MUL
LOAD 17
MOV XOR
PUSH 9
MOV ADD
LOAD 18
MOV ADD
PUSH 77
MOV XOR
PUSH 237
MOV NEQ
JUMP 12
PUSH 50
LOAD 16
MOV SUB
PUSH 134
MOV MUL
LOAD 15
MOV ADD
PUSH 179
MOV XOR
LOAD 19
MOV ADD
PUSH 154
MOV XOR
LOAD 17
MOV MUL
PUSH 126
MOV SUB
LOAD 22
MOV XOR
PUSH 72
MOV ADD
LOAD 18
MOV XOR
PUSH 88
MOV ADD
LOAD 20
MOV SUB
PUSH 189
MOV MUL
LOAD 21
MOV MUL
PUSH 56
MOV SUB
PUSH 140
MOV NEQ
JUMP 12
PUSH 124
LOAD 20
MOV ADD
PUSH 237
MOV XOR
LOAD 22
MOV MUL
PUSH 237
MOV SUB
LOAD 19
MOV XOR
PUSH 36
MOV ADD
LOAD 16
MOV ADD
PUSH 42
MOV XOR
LOAD 21
MOV SUB
PUSH 50
MOV MUL
LOAD 17
MOV SUB
PUSH 59
MOV MUL
LOAD 23
MOV XOR
PUSH 7
MOV ADD
LOAD 18
MOV MUL
PUSH 144
MOV SUB
PUSH 114
MOV NEQ
JUMP 12
PUSH 45
LOAD 23
MOV MUL
PUSH 81
MOV SUB
LOAD 17
MOV ADD
PUSH 105
MOV XOR
LOAD 24
MOV XOR
PUSH 175
MOV ADD
LOAD 19
MOV MUL
PUSH 51
MOV SUB
LOAD 21
MOV ADD
PUSH 168
MOV XOR
LOAD 22
MOV SUB
PUSH 68
MOV MUL
LOAD 20
MOV XOR
PUSH 26
MOV ADD
LOAD 18
MOV SUB
PUSH 227
MOV MUL
PUSH 237
MOV NEQ
JUMP 12
PUSH 46
LOAD 18
MOV ADD
PUSH 33
MOV XOR
LOAD 19
MOV SUB
PUSH 155
MOV MUL
LOAD 24
MOV MUL
PUSH 208
MOV SUB
LOAD 25
MOV XOR
PUSH 213
MOV ADD
LOAD 22
MOV ADD
PUSH 33
MOV XOR
LOAD 21
MOV XOR
PUSH 45
MOV ADD
LOAD 23
MOV SUB
PUSH 36
MOV MUL
LOAD 20
MOV MUL
PUSH 65
MOV SUB
PUSH 231
MOV NEQ
JUMP 12
PUSH 175
LOAD 26
MOV XOR
PUSH 206
MOV ADD
LOAD 19
MOV ADD
PUSH 173
MOV XOR
LOAD 25
MOV MUL
PUSH 147
MOV SUB
LOAD 23
MOV ADD
PUSH 84
MOV XOR
LOAD 24
MOV SUB
PUSH 63
MOV MUL
LOAD 21
MOV MUL
PUSH 199
MOV SUB
LOAD 20
MOV SUB
PUSH 219
MOV MUL
LOAD 22
MOV XOR
PUSH 0
MOV ADD
PUSH 101
MOV NEQ
JUMP 12
PUSH 175
LOAD 25
MOV SUB
PUSH 215
MOV MUL
LOAD 20
MOV ADD
PUSH 24
MOV XOR
LOAD 27
MOV XOR
PUSH 51
MOV ADD
LOAD 22
MOV MUL
PUSH 245
MOV SUB
LOAD 26
MOV MUL
PUSH 201
MOV SUB
LOAD 23
MOV XOR
PUSH 76
MOV ADD
LOAD 21
MOV SUB
PUSH 117
MOV MUL
LOAD 24
MOV ADD
PUSH 197
MOV XOR
PUSH 37
MOV NEQ
JUMP 12
PUSH 154
LOAD 28
MOV XOR
PUSH 166
MOV ADD
LOAD 27
MOV MUL
PUSH 4
MOV SUB
LOAD 24
MOV XOR
PUSH 76
MOV ADD
LOAD 26
MOV SUB
PUSH 7
MOV MUL
LOAD 22
MOV SUB
PUSH 57
MOV MUL
LOAD 23
MOV MUL
PUSH 70
MOV SUB
LOAD 21
MOV ADD
PUSH 52
MOV XOR
LOAD 25
MOV ADD
PUSH 217
MOV XOR
PUSH 70
MOV NEQ
JUMP 12
PUSH 245
LOAD 23
MOV SUB
PUSH 182
MOV MUL
LOAD 22
MOV ADD
PUSH 91
MOV XOR
LOAD 28
MOV MUL
PUSH 233
MOV SUB
LOAD 27
MOV SUB
PUSH 68
MOV MUL
LOAD 24
MOV MUL
PUSH 16
MOV SUB
LOAD 29
MOV XOR
PUSH 236
MOV ADD
LOAD 25
MOV XOR
PUSH 160
MOV ADD
LOAD 26
MOV ADD
PUSH 63
MOV XOR
PUSH 185
MOV NEQ
JUMP 12
PUSH 156
LOAD 28
MOV SUB
PUSH 187
MOV MUL
LOAD 25
MOV MUL
PUSH 232
MOV SUB
LOAD 24
MOV SUB
PUSH 4
MOV MUL
LOAD 23
MOV ADD
PUSH 127
MOV XOR
LOAD 26
MOV XOR
PUSH 168
MOV ADD
LOAD 30
MOV XOR
PUSH 55
MOV ADD
LOAD 29
MOV MUL
PUSH 70
MOV SUB
LOAD 27
MOV ADD
PUSH 103
MOV XOR
PUSH 35
MOV NEQ
JUMP 12
PUSH 88
LOAD 25
MOV SUB
PUSH 178
MOV MUL
LOAD 24
MOV ADD
PUSH 220
MOV XOR
LOAD 30
MOV MUL
PUSH 235
MOV SUB
LOAD 28
MOV ADD
PUSH 103
MOV XOR
LOAD 29
MOV SUB
PUSH 186
MOV MUL
LOAD 26
MOV MUL
PUSH 113
MOV SUB
LOAD 27
MOV XOR
PUSH 46
MOV ADD
LOAD 31
MOV XOR
PUSH 177
MOV ADD
PUSH 46
MOV NEQ
JUMP 12
PUSH 73
LOAD 25
MOV ADD
PUSH 121
MOV XOR
LOAD 26
MOV SUB
PUSH 113
MOV MUL
LOAD 27
MOV MUL
PUSH 145
MOV SUB
LOAD 32
MOV XOR
PUSH 193
MOV ADD
LOAD 31
MOV MUL
PUSH 231
MOV SUB
LOAD 29
MOV ADD
PUSH 120
MOV XOR
LOAD 30
MOV SUB
PUSH 219
MOV MUL
LOAD 28
MOV XOR
PUSH 12
MOV ADD
PUSH 97
MOV NEQ
JUMP 12
PUSH 249
LOAD 32
MOV MUL
PUSH 56
MOV SUB
LOAD 27
MOV SUB
PUSH 183
MOV MUL
LOAD 28
MOV MUL
PUSH 189
MOV SUB
LOAD 33
MOV XOR
PUSH 47
MOV ADD
LOAD 30
MOV ADD
PUSH 220
MOV XOR
LOAD 26
MOV ADD
PUSH 135
MOV XOR
LOAD 31
MOV SUB
PUSH 82
MOV MUL
LOAD 29
MOV XOR
PUSH 96
MOV ADD
PUSH 233
MOV NEQ
JUMP 12
PUSH 246
LOAD 31
MOV ADD
PUSH 128
MOV XOR
LOAD 32
MOV SUB
PUSH 130
MOV MUL
LOAD 29
MOV MUL
PUSH 125
MOV SUB
LOAD 33
MOV MUL
PUSH 114
MOV SUB
LOAD 27
MOV ADD
PUSH 178
MOV XOR
LOAD 34
MOV XOR
PUSH 213
MOV ADD
LOAD 28
MOV SUB
PUSH 246
MOV MUL
LOAD 30
MOV XOR
PUSH 62
MOV ADD
PUSH 202
MOV NEQ
JUMP 12
PUSH 166
LOAD 32
MOV ADD
PUSH 161
MOV XOR
LOAD 30
MOV MUL
PUSH 71
MOV SUB
LOAD 29
MOV SUB
PUSH 38
MOV MUL
LOAD 35
MOV XOR
PUSH 76
MOV ADD
LOAD 33
MOV SUB
PUSH 65
MOV MUL
LOAD 34
MOV MUL
PUSH 230
MOV SUB
LOAD 31
MOV XOR
PUSH 70
MOV ADD
LOAD 28
MOV ADD
PUSH 252
MOV XOR
PUSH 200
MOV NEQ
JUMP 12
PUSH 129
LOAD 30
MOV SUB
PUSH 102
MOV MUL
LOAD 32
MOV XOR
PUSH 55
MOV ADD
LOAD 35
MOV MUL
PUSH 101
MOV SUB
LOAD 31
MOV MUL
PUSH 81
MOV SUB
LOAD 34
MOV SUB
PUSH 177
MOV MUL
LOAD 29
MOV ADD
PUSH 33
MOV XOR
LOAD 33
MOV ADD
PUSH 28
MOV XOR
LOAD 36
MOV XOR
PUSH 119
MOV ADD
PUSH 6
MOV NEQ
JUMP 12
PUSH 72
LOAD 30
MOV ADD
PUSH 35
MOV XOR
LOAD 37
MOV XOR
PUSH 187
MOV ADD
LOAD 34
MOV ADD
PUSH 219
MOV XOR
LOAD 32
MOV MUL
PUSH 216
MOV SUB
LOAD 33
MOV XOR
PUSH 109
MOV ADD
LOAD 36
MOV MUL
PUSH 16
MOV SUB
LOAD 35
MOV SUB
PUSH 196
MOV MUL
LOAD 31
MOV SUB
PUSH 193
MOV MUL
PUSH 159
MOV NEQ
JUMP 12
PUSH 40
LOAD 32
MOV SUB
PUSH 122
MOV MUL
LOAD 37
MOV MUL
PUSH 135
MOV SUB
LOAD 34
MOV XOR
PUSH 163
MOV ADD
LOAD 35
MOV ADD
PUSH 3
MOV XOR
LOAD 36
MOV SUB
PUSH 44
MOV MUL
LOAD 31
MOV ADD
PUSH 251
MOV XOR
LOAD 38
MOV XOR
PUSH 151
MOV ADD
LOAD 33
MOV MUL
PUSH 245
MOV SUB
PUSH 196
MOV NEQ
JUMP 12
PUSH 235
LOAD 35
MOV XOR
PUSH 157
MOV ADD
LOAD 39
MOV XOR
PUSH 42
MOV ADD
LOAD 37
MOV SUB
PUSH 2
MOV MUL
LOAD 34
MOV MUL
PUSH 91
MOV SUB
LOAD 33
MOV SUB
PUSH 157
MOV MUL
LOAD 38
MOV MUL
PUSH 178
MOV SUB
LOAD 36
MOV ADD
PUSH 94
MOV XOR
LOAD 32
MOV ADD
PUSH 165
MOV XOR
PUSH 142
MOV NEQ
JUMP 12
PUSH 73
LOAD 39
MOV MUL
PUSH 83
MOV SUB
LOAD 37
MOV ADD
PUSH 35
MOV XOR
LOAD 36
MOV XOR
PUSH 101
MOV ADD
LOAD 38
MOV SUB
PUSH 167
MOV MUL
LOAD 33
MOV ADD
PUSH 51
MOV XOR
LOAD 40
MOV XOR
PUSH 45
MOV ADD
LOAD 34
MOV SUB
PUSH 167
MOV MUL
LOAD 35
MOV MUL
PUSH 81
MOV SUB
PUSH 255
MOV NEQ
JUMP 12
PUSH 107
LOAD 36
MOV MUL
PUSH 100
MOV SUB
LOAD 40
MOV MUL
PUSH 137
MOV SUB
LOAD 34
MOV ADD
PUSH 151
MOV XOR
LOAD 39
MOV SUB
PUSH 168
MOV MUL
LOAD 38
MOV ADD
PUSH 178
MOV XOR
LOAD 37
MOV XOR
PUSH 106
MOV ADD
LOAD 41
MOV XOR
PUSH 193
MOV ADD
LOAD 35
MOV SUB
PUSH 129
MOV MUL
PUSH 224
MOV NEQ
JUMP 12
PUSH 87
LOAD 40
MOV SUB
PUSH 93
MOV MUL
LOAD 38
MOV XOR
PUSH 182
MOV ADD
LOAD 36
MOV SUB
PUSH 57
MOV MUL
LOAD 35
MOV ADD
PUSH 1
MOV XOR
LOAD 42
MOV XOR
PUSH 15
MOV ADD
LOAD 39
MOV ADD
PUSH 60
MOV XOR
LOAD 37
MOV MUL
PUSH 191
MOV SUB
LOAD 41
MOV MUL
PUSH 212
MOV SUB
PUSH 236
MOV NEQ
JUMP 12
PUSH 121
LOAD 36
MOV ADD
PUSH 154
MOV XOR
LOAD 37
MOV SUB
PUSH 180
MOV MUL
LOAD 41
MOV SUB
PUSH 41
MOV MUL
LOAD 42
MOV MUL
PUSH 251
MOV SUB
LOAD 39
MOV XOR
PUSH 80
MOV ADD
LOAD 40
MOV ADD
PUSH 200
MOV XOR
LOAD 43
MOV XOR
PUSH 49
MOV ADD
LOAD 38
MOV MUL
PUSH 229
MOV SUB
PUSH 203
MOV NEQ
JUMP 12
PUSH 161
LOAD 39
MOV MUL
PUSH 72
MOV SUB
LOAD 40
MOV XOR
PUSH 50
MOV ADD
LOAD 43
MOV MUL
PUSH 34
MOV SUB
LOAD 42
MOV SUB
PUSH 243
MOV MUL
LOAD 37
MOV ADD
PUSH 21
MOV XOR
LOAD 44
MOV XOR
PUSH 203
MOV ADD
LOAD 41
MOV ADD
PUSH 32
MOV XOR
LOAD 38
MOV SUB
PUSH 17
MOV MUL
PUSH 36
MOV NEQ
JUMP 12
PUSH 42
LOAD 45
MOV XOR
PUSH 84
MOV ADD
LOAD 44
MOV MUL
PUSH 253
MOV SUB
LOAD 42
MOV ADD
PUSH 114
MOV XOR
LOAD 41
MOV XOR
PUSH 119
MOV ADD
LOAD 38
MOV ADD
PUSH 253
MOV XOR
LOAD 40
MOV MUL
PUSH 17
MOV SUB
LOAD 39
MOV SUB
PUSH 22
MOV MUL
LOAD 43
MOV SUB
PUSH 150
MOV MUL
PUSH 30
MOV NEQ
JUMP 12
PUSH 126
LOAD 45
MOV MUL
PUSH 141
MOV SUB
LOAD 39
MOV ADD
PUSH 103
MOV XOR
LOAD 41
MOV MUL
PUSH 6
MOV SUB
LOAD 40
MOV SUB
PUSH 249
MOV MUL
LOAD 44
MOV SUB
PUSH 4
MOV MUL
LOAD 46
MOV XOR
PUSH 252
MOV ADD
LOAD 42
MOV XOR
PUSH 61
MOV ADD
LOAD 43
MOV ADD
PUSH 41
MOV XOR
PUSH 193
MOV NEQ
JUMP 12
PUSH 59
LOAD 41
MOV SUB
PUSH 81
MOV MUL
LOAD 44
MOV ADD
PUSH 197
MOV XOR
LOAD 47
MOV XOR
PUSH 236
MOV ADD
LOAD 43
MOV XOR
PUSH 166
MOV ADD
LOAD 42
MOV MUL
PUSH 190
MOV SUB
LOAD 40
MOV ADD
PUSH 60
MOV XOR
LOAD 46
MOV MUL
PUSH 106
MOV SUB
LOAD 45
MOV SUB
PUSH 30
MOV MUL
PUSH 242
MOV NEQ
JUMP 12
PUSH 34
LOAD 46
MOV SUB
PUSH 64
MOV MUL
LOAD 0
MOV XOR
PUSH 117
MOV ADD
LOAD 47
MOV MUL
PUSH 191
MOV SUB
LOAD 44
MOV XOR
PUSH 89
MOV ADD
LOAD 43
MOV MUL
PUSH 146
MOV SUB
LOAD 42
MOV SUB
PUSH 104
MOV MUL
LOAD 45
MOV ADD
PUSH 129
MOV XOR
LOAD 41
MOV ADD
PUSH 36
MOV XOR
PUSH 111
MOV NEQ
JUMP 12
PUSH 111
LOAD 43
MOV SUB
PUSH 86
MOV MUL
LOAD 46
MOV ADD
PUSH 172
MOV XOR
LOAD 0
MOV MUL
PUSH 39
MOV SUB
LOAD 45
MOV XOR
PUSH 137
MOV ADD
LOAD 1
MOV XOR
PUSH 6
MOV ADD
LOAD 44
MOV MUL
PUSH 207
MOV SUB
LOAD 47
MOV SUB
PUSH 9
MOV MUL
LOAD 42
MOV ADD
PUSH 204
MOV XOR
PUSH 133
MOV NEQ
JUMP 12
PUSH 180
LOAD 44
MOV SUB
PUSH 72
MOV MUL
LOAD 2
MOV XOR
PUSH 61
MOV ADD
LOAD 46
MOV XOR
PUSH 59
MOV ADD
LOAD 45
MOV MUL
PUSH 95
MOV SUB
LOAD 43
MOV ADD
PUSH 235
MOV XOR
LOAD 47
MOV ADD
PUSH 225
MOV XOR
LOAD 0
MOV SUB
PUSH 94
MOV MUL
LOAD 1
MOV MUL
PUSH 200
MOV SUB
PUSH 112
MOV NEQ
JUMP 12
PUSH 25
LOAD 3
MOV XOR
PUSH 154
MOV ADD
LOAD 1
MOV SUB
PUSH 237
MOV MUL
LOAD 44
MOV ADD
PUSH 199
MOV XOR
LOAD 0
MOV ADD
PUSH 144
MOV XOR
LOAD 46
MOV MUL
PUSH 33
MOV SUB
LOAD 2
MOV MUL
PUSH 33
MOV SUB
LOAD 45
MOV SUB
PUSH 200
MOV MUL
LOAD 47
MOV XOR
PUSH 5
MOV ADD
PUSH 122
MOV NEQ
JUMP 12
PUSH 29
LOAD 0
MOV XOR
PUSH 107
MOV ADD
LOAD 1
MOV ADD
PUSH 169
MOV XOR
LOAD 47
MOV MUL
PUSH 172
MOV SUB
LOAD 46
MOV SUB
PUSH 132
MOV MUL
LOAD 3
MOV MUL
PUSH 10
MOV SUB
LOAD 2
MOV SUB
PUSH 155
MOV MUL
LOAD 4
MOV XOR
PUSH 110
MOV ADD
LOAD 45
MOV ADD
PUSH 105
MOV XOR
PUSH 46
MOV NEQ
JUMP 12
PUSH 255
LOAD 5
MOV XOR
PUSH 205
MOV ADD
LOAD 46
MOV ADD
PUSH 185
MOV XOR
LOAD 0
MOV MUL
PUSH 166
MOV SUB
LOAD 1
MOV XOR
PUSH 172
MOV ADD
LOAD 3
MOV SUB
PUSH 122
MOV MUL
LOAD 47
MOV SUB
PUSH 130
MOV MUL
LOAD 4
MOV MUL
PUSH 236
MOV SUB
LOAD 2
MOV ADD
PUSH 246
MOV XOR
PUSH 195
MOV NEQ
JUMP 12
PUSH 75
LOAD 3
MOV ADD
PUSH 176
MOV XOR
LOAD 1
MOV MUL
PUSH 130
MOV SUB
LOAD 4
MOV SUB
PUSH 213
MOV MUL
LOAD 47
MOV ADD
PUSH 241
MOV XOR
LOAD 6
MOV XOR
PUSH 226
MOV ADD
LOAD 2
MOV XOR
PUSH 50
MOV ADD
LOAD 0
MOV SUB
PUSH 166
MOV MUL
LOAD 5
MOV MUL
PUSH 245
MOV SUB
PUSH 51
MOV NEQ
JUMP 12
PUSH 1
JUMP 2